
#PORT=5000
#MONGODB_URI=<your mongodb URI>
#STRIPE_SECRET_KEY=<your STRIPE_SECRET_KEY>
#CLOUDINARY_CLOUD_NAME=<your CLOUDINARY_CLOUD_NAME>
#CLOUDINARY_API_KEY=<your CLOUDINARY_API_KEY>
#CLOUDINARY_API_SECRET=<your CLOUDINARY_API_SECRET>

#FIREBASE_SERVICE_ACCOUNT_PATH=<your FIREBASE_SERVICE_ACCOUNT_PATH>
#JWT_SECRET=<random charactors>

#put the .env file root of the project folder
