# Secrets
.env
.env.*
!.env.example
*service-account*.json
firebase-adminsdk*.json
secrets/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Node
node_modules/

# Flutter / Dart
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/doc/api/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/local.properties
**/android/.gradle/
**/ios/Pods/
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/